﻿@model YemekSepette.Models.Sube

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sube</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Restoran.RestoranIsmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restoran.RestoranIsmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semt.SemtAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semt.SemtAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubeIsmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubeIsmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcikAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcikAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServisSuresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServisSuresi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
