﻿@model YemekSepette.Models.Sube

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sube</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Restoran.RestoranIsmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restoran.RestoranIsmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semt.SemtAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semt.SemtAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubeIsmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubeIsmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcikAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcikAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServisSuresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServisSuresi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
