﻿@model YemekSepette.Models.Gorus

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Gorus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GorusIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GorusIcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GorusTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GorusTarih)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GorusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
