﻿@model PagedList.IPagedList<YemekSepette.Models.Gorus>
@using PagedList.Mvc;

@{
    ViewBag.Title = Resources.Kullanici.Home.Gorusler;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="row">
    <div class="col-xs-12">
        <div class="box box-warning box-solid">
            <div class="box-header">
                <h3 class="box-title">@Resources.Kullanici.Home.Gorusler</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-10">
                            @Html.ActionLink(Resources.Kullanici.Home.YeniGorusEkle, "Create", new { }, new { @class = "btn btn-primary" })
                        </div>
                        <div class="col-sm-2">
                            @using (Html.BeginForm("Index", "Gorus", FormMethod.Get))
                            {
                                <div class="input-group btn-block">
                                    @Html.TextBox("Arama", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                                    <div class="input-group-btn">
                                        <input type="submit" value="@Resources.Kullanici.Home.Ara" class="btn btn-danger" />
                                    </div>
                                    <!-- /btn-group -->

                                </div>
                            }
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th>
                                            @Resources.Kullanici.Home.Icerik
                                        </th>
                                        <th>
                                            @Html.ActionLink(Resources.Kullanici.Home.Tarih, "Index", new { siralama = ViewBag.DateSortParam })
                                        </th>
                                        <th>
                                            @Resources.Kullanici.Home.İslemler
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GorusIcerik)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GorusTarih)
                                            </td>
                                            <td>
                                                @Html.ActionLink(" ", "Edit", new { id = item.GorusID }, new { @class = "btn btn-sm btn-warning glyphicon glyphicon-pencil" }) |
                                                @Html.ActionLink(" ", "Delete", new { id = item.GorusID }, new { @class = "btn btn-sm btn-danger glyphicon glyphicon-trash" })
                                            </td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <span><b>@Resources.Kullanici.Home.Toplam @ViewBag.SonucSayisi @Resources.Kullanici.Home.Sonuc - </b>@Resources.Kullanici.Home.Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, siralama = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div>
