﻿<!DOCTYPE html>
@using Microsoft.AspNet.Identity
@using System;
@using System.Data;
@using System.Linq;
@using System.Web;
@using YemekSepette.DAL;
@using YemekSepette.Models;
@{ApplicationDbContext applicationDbContext = new ApplicationDbContext();
    YemekSepetteContext db = new YemekSepetteContext();
    string mail = User.Identity.GetUserName();
    var kullanici = applicationDbContext.Users.Where(x => x.Email == mail).First();
    var kullaniciBilgi = db.Subeler.Where(x => x.SubeID == kullanici.KullaniciTipId).First();}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->

    <link rel="stylesheet" href="~/adminassets/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminassets/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/adminassets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/adminassets/dist/css/skins/_all-skins.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminassets/plugins/iCheck/flat/blue.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/adminassets/plugins/morris/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/adminassets/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/adminassets/plugins/datepicker/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/adminassets/plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/adminassets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="~/SubePanel/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>@Resources.Kullanici.Home.S</b>@Resources.Kullanici.Home.Ube</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>YemekSepette</b>@Resources.Kullanici.Home.Sube</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- Notifications: style can be found in dropdown.less -->
                        <!-- Tasks: style can be found in dropdown.less -->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img style="max-width:24px;max-height:24px" src="@kullaniciBilgi.Restoran.RestoranLogo" class="user-image" alt="User Image">
                                <span class="hidden-xs">@User.Identity.GetUserName()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="fa fa-gears" href="~/SubePanel/SubeHesap">   @Resources.Kullanici.Home.HesabiYonet</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="fa fa-sign-out" href="@Url.Action("LogOff", "Account", new { area = "", language = HttpContext.Current.Response.Cookies["dil"].Value })">   @Resources.Kullanici.Home.CikisYap</a></li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink(Resources.Kullanici.Home.Turkce,
                               HttpContext.Current.Request["action"],
                               HttpContext.Current.Request["controller"],
                               new
                               {
                                   language = "tr"
                               }, new { })
                                <li>
                                    @Html.ActionLink(Resources.Kullanici.Home.Ingilizce,
                               HttpContext.Current.Request["action"],
                               HttpContext.Current.Request["controller"],
                               new
                               {
                                   language = "en"
                               }, new { })
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- search form -->
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header"><b>MENU</b></li>
                    <li>
                        <a href="~/SubePanel/SubeSiparis">
                            <i class="fa fa-cart-plus"></i> <span>@Resources.Kullanici.Home.Siparisler</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-info"></i> <span>@Resources.Kullanici.Home.Menu</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="~/SubePanel/SubeMenu"><i class="fa fa-circle-o"></i>@Resources.Kullanici.Home.Menuler</a></li>
                        </ul>
                        <ul class="treeview-menu">
                            <li><a href="~/SubePanel/SubeMenu/Create"><i class="fa fa-circle-o"></i>@Resources.Kullanici.Home.MenuEkle</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="glyphicon glyphicon-cutlery"></i> <span>@Resources.Kullanici.Home.Urun</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="~/SubePanel/SubeUrun"><i class="fa fa-circle-o"></i>@Resources.Kullanici.Home.Urunler</a></li>
                        </ul>
                        <ul class="treeview-menu">
                            <li><a href="~/SubePanel/SubeUrun/Create"><i class="fa fa-circle-o"></i>@Resources.Kullanici.Home.UrunEkle</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/SubePanel/SubeYorum">
                            <i class="fa fa-comments"></i> <span>@Resources.Kullanici.Home.Yorumlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/SubePanel/SubeSorun">
                            <i class="glyphicon glyphicon-exclamation-sign"></i> <span>@Resources.Kullanici.Home.Sorunlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/SubePanel/SubeHesap">
                            <i class="fa fa-gears"></i> <span>@Resources.Kullanici.Home.HesabiYonet</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <h1>
                    @kullaniciBilgi.SubeIsmi
                </h1>

                @RenderBody()
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        <footer class="main-footer">
            <b>© YemekSepette @DateTime.Now.Year</b>
        </footer>
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <!-- jQuery 2.1.4 -->
    <script src="~/adminassets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/adminassets/bootstrap/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/adminassets/plugins/morris/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/adminassets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/adminassets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/adminassets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/adminassets/plugins/knob/jquery.knob.js"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="~/adminassets/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/adminassets/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/adminassets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/adminassets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/adminassets/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminassets/dist/js/app.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/adminassets/dist/js/pages/dashboard.js"></script>
    <script src="~/adminassets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/adminassets/dist/js/demo.js"></script>
</body>
</html>
