﻿@model YemekSepette.Models.ChangePasswordViewModel
@{
    ViewBag.Title = Resources.Kullanici.Home.ParolayiDegistir;
    Layout = "~/Areas/SubePanel/Views/Shared/_SubePanelLayout.cshtml";
}
<div class="row">
    <div class="col-sm-6">
        <div class="box box-warning box-solid">
            <div class="box-header">
                <h3 class="box-title">@Resources.Kullanici.Home.ParolayiDegistir</h3>
            </div><!-- /.box-header --><div class="box-body">
                @using (Html.BeginForm("ChangePassword", "SubeHesap", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                <!-- /.box-body -->
                    <div class="box-footer">
                        <input type="submit" value=@Resources.Kullanici.Home.Kaydet class="btn btn-success pull-right" />
                    </div>
                }
                <!-- /.box-footer -->

            </div>
        </div>
