﻿@model YemekSepette.Models.Sube
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = @Resources.Kullanici.Home.HesapBilgileri;
    Layout = "~/Areas/SubePanel/Views/Shared/_SubePanelLayout.cshtml";
}
<h2>@ViewBag.StatusMessage</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="box box-info box-solid">
            <div class="box-header">
                <h3 class="box-title">@Resources.Kullanici.Home.HesapBilgileri</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>E-Mail : </b>
                        </div>
                        <div class="col-sm-10">
                            @User.Identity.GetUserName()
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>@Html.DisplayNameFor(model => model.SubeIsmi): </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.SubeIsmi)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>@Html.DisplayNameFor(model => model.Semt.Sehir.SehirAd): </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Semt.Sehir.SehirAd)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>@Html.DisplayNameFor(model => model.Semt.SemtAd): </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Semt.SemtAd)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>@Html.DisplayNameFor(model => model.Telefon): </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Telefon)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>@Html.DisplayNameFor(model => model.CalismaBaslangicSaati): </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.CalismaBaslangicSaati)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>@Html.DisplayNameFor(model => model.CalismaBitisSaati): </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.CalismaBitisSaati)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>@Html.DisplayNameFor(model => model.ServisSuresi): </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.ServisSuresi)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>@Html.DisplayNameFor(model => model.AcikAdres): </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.AcikAdres)
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                @Html.ActionLink(@Resources.Kullanici.Home.Duzenle, "Edit", new { }, new { @class = "btn btn-primary" })
                @Html.ActionLink(@Resources.Kullanici.Home.ParolayiDegistir, "ChangePassword", new { }, new { @class = "btn btn-danger pull-right" })
            </div>

            <!-- /.box-footer -->

        </div>
    </div>
</div>
