﻿@model YemekSepette.Models.Sube

@{
    Layout = null;
}

<div class="row">
    <div class="col-sm-12">
        @{

            DateTime simdi = DateTime.Now;
            string baslangic = String.Format("{0:HH:mm}", Model.CalismaBaslangicSaati);
            string bitis = String.Format("{0:HH:mm}", Model.CalismaBitisSaati);
            DateTime baslangicSaati = DateTime.Parse(baslangic);
            DateTime bitisSaati = DateTime.Parse(bitis);

            if (DateTime.Compare(simdi, baslangicSaati) < 0 || DateTime.Compare(simdi, bitisSaati) > 0)
            {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <strong>@Resources.Kullanici.Home.ServisDisi</strong>
                    @Resources.Kullanici.Home.ServisDisiAciklama
                </div>
            }
            else
            {
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    <strong>@Resources.Kullanici.Home.SiparisVerebilirsiniz</strong>
                    @Resources.Kullanici.Home.ServisSaatleriIcinde
                </div>
            }
        }

    </div>
    <!-- iconlar -->
    <div class="col-sm-12">

        <div class="col-sm-3">
            <div class="thumbnail">
                <img style="height:130px" src="@Model.Restoran.RestoranLogo" alt="...">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="page-header" style="margin-top:0">
                <h3 style="margin-top:10px">@Model.SubeIsmi <small>@Model.Semt.Sehir.SehirAd - @Model.Semt.SemtAd</small></h3>
            </div>
            <div class="col-sm-12">
                <label class="col-sm-4">@Resources.Kullanici.Home.CalismaSaatleri :</label><span class="col-sm-8">&nbsp;<b style="color:orange">@Html.DisplayFor(x => x.CalismaBaslangicSaati).ToString().TrimStart() - @Html.DisplayFor(x => x.CalismaBitisSaati).ToString().TrimStart()</b></span>
            </div>
            <div class="col-sm-12">
                <label class="col-sm-4">@Html.DisplayNameFor(x => x.ServisSuresi) :</label><span class="col-sm-8"> &nbsp;<span style="color:orange">@Model.ServisSuresi @Resources.Kullanici.Home.Dakika</span> (@Resources.Kullanici.Home.Ortalama)</span>
            </div>
            <div class="col-sm-12">
                <label class="col-sm-4">@Html.DisplayNameFor(x => x.Telefon) :</label><span class="col-sm-8"> &nbsp;@Model.Telefon</span>
            </div>
            <div class="col-sm-12">
                <label class="col-sm-4">@Html.DisplayNameFor(x => x.AcikAdres) :</label><span class="col-sm-8"> &nbsp;@Model.AcikAdres</span>
            </div>
        </div>
    </div>
</div>
