﻿@model IEnumerable<YemekSepette.Models.Menu>
@{
    Layout = null;
}




@{
    int i = 0;
    var stilList = new List<string> { "panel-default",
                            "panel-danger", "panel-success"};

}

@if (Model.Count() == 0)
{
    <div class="bs-component">
        <div class="alert alert-dismissible alert-info">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <strong>@Resources.Kullanici.Home.UrunBulunamadi</strong> @Resources.Kullanici.Home.GosterilecekUrunYok
        </div>
    </div>
}

@foreach (var item in Model)
{

    <div class="panel @stilList.ElementAt(i % 3)">
        @{
            IEnumerable<YemekSepette.Models.Urun> urunler = item.Urunler.ToList();
        }
        <div class="panel-heading"><b>@item.MenuIsmi</b></div>

        <table class="table" style="background-color:#fcfcfc">
            <tbody>
                @foreach (var urun in urunler)
                {
                    var lang = "'" + @HttpContext.Current.Response.Cookies["dil"].Value + "'";
                    <tr>
                        <td class="col-sm-1 col-xs-1"><input id="urunAdetId-@urun.UrunID" class="form-control input-sm" type="text" id="inputSmall" value="1"></td>
                        <td class="col-sm-1 col-xs-1">
                            <button onclick="sepeteEkle(@lang, @urun.UrunID, '#urunAdetId-@urun.UrunID')" type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td class="col-sm-9 col-xs-9">
                            <small style="color:orange"><b>@urun.UrunIsmi</b></small>
                            <p style="margin:0"><small>@urun.UrunIcerik</small></p>
                        </td>
                        <td class="col-sm-1 col-xs-1"><small style="color:orange"><b>@String.Format("{0:0.00}", urun.Fiyat) TL</b></small></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
                i++;
            }
