﻿@model PagedList.IPagedList<YemekSepette.Models.SubeYorum>
@using PagedList.Mvc;

@{
    Layout = null;
}

<h3 style="margin-top:0">@Resources.Kullanici.Home.YorumunuEkle</h3>
<p>
    @Resources.Kullanici.Home.YorumAciklama
</p>

@if (Request.IsAuthenticated)
{
    <!-- yorum gonder -->
    Html.RenderAction("_SubeYorumYap", "Siparis", new { subeId = ViewBag.SubeID });
    <hr />
}
else
{
    <!--giris yapilmamissa-->
    <div class="row">
        <div class="col-sm-12">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-warning">
                    <h4>@Resources.Kullanici.Home.Uyari</h4>
                    <p>@Resources.Kullanici.Home.YorumIcinGiris</p>
                </div>
            </div>
        </div>
    </div>
}



<!-- yapilan yorumlar -->
<div class="panel panel-default">
    <div class="panel-heading"><b>@Resources.Kullanici.Home.Yorumlar</b></div>

    <table class="table" style="background-color:#fcfcfc">
        <tbody>
            @if (Model.Count() == 0)
            {
                <div class="col-sm-12" style="padding:20px">@Resources.Kullanici.Home.GosterilecekYorumYok</div>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-sm-10">
                        <small><b>@item.Musteri.AdSoyad</b></small>
                        <p style="margin:0"><small>@item.YorumIcerik</small></p>
                    </td>
                    <td class="col-sm-2"><small class="pull-right"><b>@Html.DisplayFor(modelItem => item.Tarih)</b></small></td>
                </tr>
            }
        </tbody>
    </table>

</div>

@if (Model.Count() != 0)
{
    <span>@Resources.Kullanici.Home.Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
    @Html.PagedListPager(Model, page => Url.Action("RestoranSube", new { page, id = ViewBag.SubeId }))
}



