﻿@model YemekSepette.Models.SubeSorun

@{
    Layout = null;
}

@using (Html.BeginForm("SubeSorunBildir", "Siparis", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend></legend>
        @Html.TextBoxFor(x => x.SubeID, new { @style = "visibility:hidden;", @value = ViewBag.SubeID })
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">@Resources.Kullanici.Home.Aciklama :</label>
            <div class="col-lg-10">
                @Html.TextAreaFor(x => x.SorunIcerik, new { @class = "form-control", @row = "3" })
                <!--<span class="help-block">Hakaret ve benzeri kelimeler içermemesine dikkat edin!</span>-->
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">@Resources.Kullanici.Home.Gonder</button>
            </div>
        </div>
    </fieldset>
}
