﻿
@{
    ViewBag.Title = ViewBag.SubeIsmi;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderAction("_SubeBilgi", "Siparis", new { id = ViewBag.ID });}

<ul class="nav nav-tabs" style="margin-top:20px">
    <li role="presentation" class="active"><a href="#urunler" data-toggle="tab" aria-expanded="true">@Resources.Kullanici.Home.Urunler</a></li>
    <li role="presentation" class=""><a href="#yorumlar" data-toggle="tab" aria-expanded="false">@Resources.Kullanici.Home.Yorumlar <span class="badge">@ViewBag.SubeYorumSayisi</span></a></li>
    <li role="presentation" class=""><a href="#sorunbildir" data-toggle="tab" aria-expanded="false">@Resources.Kullanici.Home.SorunBildir</a></li>
</ul>

<div class="row tab-content" style="margin-top:20px">

    <div id="urunler" class="col-sm-12 tab-pane fade active in">
        @{ Html.RenderAction("_SubeUrunler", "Siparis", new { id = ViewBag.ID });}
    </div>
    <div id="yorumlar" class="col-sm-12 tab-pane fade">
        @{ Html.RenderAction("_SubeYapilanYorumlar", "Siparis", new { id = ViewBag.ID });}
    </div>
    <div id="sorunbildir" class="col-sm-12 tab-pane fade">
        <h3 style="margin-top:0">@Resources.Kullanici.Home.SorunBildir</h3>
        <p>
            @Resources.Kullanici.Home.SorununuBildir
        </p>

        @if (Request.IsAuthenticated)
        {
            <!-- sorun bildir -->
            Html.RenderAction("_SubeSorunBildir", "Siparis", new { subeId = ViewBag.ID });
        }
        else
        {
            <!-- giris yapilmamissa -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="bs-component">
                        <div class="alert alert-dismissible alert-warning">
                            <h4>@Resources.Kullanici.Home.Uyari</h4>
                            <p>@Resources.Kullanici.Home.SorunIcinGiris</p>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

</div>
