﻿@model YemekSepette.Models.RegisterViewModel
@{
    ViewBag.Title = Resources.Kullanici.Home.UyeOl;
}


<div class="col-sm-offset-1 col-sm-9">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Yeni hesap oluşturun.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.AdSoyad, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.AdSoyad, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AdSoyad, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Telefon, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Telefon, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.KayitSehirID, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.KayitSehirID,
                     new SelectList(ViewBag.SehirListesi, "SehirID", "SehirAd"),
                     Resources.Kullanici.Home.SehirSecin,
                     new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.KayitSehirID, "", new { @class = "text-danger" })
            </div>
        </div>
        @*
            <div class="form-group">
                @Html.LabelFor(m => m.KayitSemtID, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.KayitSemtID,
                         new SelectList(Enumerable.Empty<SelectListItem>(), "SemtID", "SemtAd"),
                         "Semt seçin",
                         new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.KayitSemtID, "", new { @class = "text-danger" })
                </div>
            </div>
        *@
        <div class="form-group">
            @Html.LabelFor(m => m.TamAdres, new { @class = "col-md-2 control-label" })
            <div class="col-lg-10">
                @Html.TextAreaFor(m => m.TamAdres, new { @class = "form-control", @row = "3" })
                @Html.ValidationMessageFor(m => m.TamAdres, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="@Resources.Kullanici.Home.Kaydol" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

