﻿@model YemekSepette.Models.SubeYorum

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubeYorum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Musteri.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Musteri.AdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sube.SubeIsmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sube.SubeIsmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YorumIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YorumIcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubeYorumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
