﻿
@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-body">
        @if (Request.IsAuthenticated)
        {
            Html.RenderAction("_KullaniciMenu", "Home");
        }
        else
        {
            Html.RenderAction("_OturumAc", "Home");
        }

    </div>
    @if (Request.IsAuthenticated)
    {
        if (HttpContext.Current.Response.Cookies["dil"].Value == "tr")
        {
            <div class="panel-footer">@Resources.Kullanici.Home.Goruslerinizi <a href="@Url.Action("Index", "Gorusleriniz", new { language = HttpContext.Current.Response.Cookies["dil"].Value })">@Resources.Kullanici.Home.Bildir</a></div>
        }
        else
        {
            <div class="panel-footer"><a href="@Url.Action("Index", "Gorusleriniz", new { language = HttpContext.Current.Response.Cookies["dil"].Value })">@Resources.Kullanici.Home.Bildir</a> @Resources.Kullanici.Home.Goruslerinizi </div>
        }

    }
    else
    {
        <div class="panel-footer">@Resources.Kullanici.Home.UyeliginizYokMu <a href="@Url.Action("Register", "Account", new { language = HttpContext.Current.Response.Cookies["dil"].Value })">@Resources.Kullanici.Home.UyeOl</a></div>
    }
</div>