﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - YemekSepette</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <b>@Html.ActionLink("YemekSepette", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</b>
            </div>
            <div class="navbar-collapse collapse">
                
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span> @Resources.Kullanici.Home.Anasayfa</a></li>
                    <!--<li><a href="@Url.Action("Index", "Gorusleriniz", new { language = HttpContext.Current.Response.Cookies["dil"].Value })"><span class="glyphicon glyphicon-leaf"></span> @Resources.Kullanici.Home.Gorusleriniz</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> <b>Sepet Boş <span class="badge">0</span></b></a></li>-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">@Resources.Kullanici.Home.Dil<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink(Resources.Kullanici.Home.Turkce,
                               HttpContext.Current.Request["action"],
                               HttpContext.Current.Request["controller"],
                               new
                               {
                                   language = "tr",
                                   id = Url.RequestContext.RouteData.Values["id"],
                                   SehirID = Request.QueryString["SehirID"],
                                   SemtID = Request.QueryString["SemtID"],
                                   Icerik = Request.QueryString["Icerik"]
                               }, new { })
                        <li>
                            @Html.ActionLink(Resources.Kullanici.Home.Ingilizce,
                               HttpContext.Current.Request["action"],
                               HttpContext.Current.Request["controller"],
                               new
                               {
                                   language = "en",
                                   id = Url.RequestContext.RouteData.Values["id"],
                                   SehirID = Request.QueryString["SehirID"],
                                   SemtID = Request.QueryString["SemtID"],
                                   Icerik = Request.QueryString["Icerik"]
                               }, new { })
                </ul>
            </li>
        </ul>
    </div>
</div>
        
</div>

<div class="container">
    <!-- logo ve arama bolumu baslangici  -->
    @if (ViewBag.AramaKismiAktif == null)
    {

        <div class="row" style="margin-bottom:10px">
            <!-- logo -->
            <div class="col-sm-3">
                <a href="@Url.Action("Index", "Home")" class="thumbnail margin-none border-none">
                    <img src="~/Content/img/yemeksepette.png" />
                </a>
            </div> <!-- logo sonu -->
            <div class="col-sm-9">
                @{ Html.RenderAction("_Arama", "Arama");}
            </div> <!-- arama bolumu sonu -->
        </div>
                <hr style="margin-top:0">
                <!-- logo ve arama bolumu sonu -->

                    }

    <!-- ana icerik baslangici -->
    <div class="row">
        <!-- sol taraf -->
        @if (ViewBag.SolTarafAktif == null)
        {
            <div class="col-sm-3">
                @Html.Partial("_KullaniciMenuPartial")
                @if (ViewBag.GorusSayfasindaMiyiz == null)
                {
                    Html.RenderAction("_Gorusler", "Gorusleriniz");
                }

                    @*@Html.Partial("_GoruslerPartial")*@

                </div>
        }
        <!-- sag taraf -->
        @if (ViewBag.SolTarafAktif == null)
            {
            <div class="col-sm-9">
                @RenderBody()
            </div>
        }
        else
        {
            <div class="col-sm-offset-2 col-sm-9" style="padding-top:25px;padding-bottom:25px">
                @RenderBody()
            </div>
        }

    </div>

    <!-- footer baslangici -->
    <hr style="margin-bottom:0">
    <footer>
        <div class="pull-right">
            <ul class="list-inline">
                <!--li><a href="">İletişim</a></li>-->
            </ul>
        </div>
        <div class="pull-left">
            <b>© YemekSepette.com @DateTime.Now.Year</b>
        </div>
    </footer>
</div>

<!-- Modal -->
<div class="modal fade" id="urunSepetMesajModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="color:#b94a48;border-color:#eed3d7">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <strong>@Resources.Kullanici.Home.UrunSepeteEklenemedi</strong>
                </h5>
            </div>
            <div class="modal-body">
                <p id="urunSepetOturumAcmanizLazim" style="display:none;">@Resources.Kullanici.Home.UrunEklemeGiris</p>
                <p id="urunSepetSubeCalismaSaatleriDisinda" style="display:none;">@Resources.Kullanici.Home.CalismaSaatleriDisinda</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="urunSepetBasariModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="color:#468847;border-color:#d6e9c6">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    <strong>@Resources.Kullanici.Home.UrunSepeteEklendi</strong>
                </h5>
            </div>
            <div class="modal-body">
                <p>@Resources.Kullanici.Home.UrunSepeteEklemeBasarili</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="urunSepetBasarisizModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="color:#b94a48;border-color:#eed3d7">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <strong>@Resources.Kullanici.Home.UrunSepeteEklenemedi</strong>
                </h5>
            </div>
            <div class="modal-body">
                <p>@Resources.Kullanici.Home.UrunSepeteEklemeBasarisiz</p>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval");
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/yemeksepette")
@RenderSection("scripts", required: false)
</body>
</html>
