﻿@model YemekSepette.Models.Sube

@{
    ViewBag.Title = @Resources.Kullanici.Home.SubeDetaylari;
    Layout = "~/Areas/RestoranPanel/Views/Shared/_RestoranPanelLayout.cshtml";
}

<div class="row">
    <div class="col-sm-6">
        <div class="box box-info box-solid">
            <div class="box-header">
                <h3 class="box-title">@Resources.Kullanici.Home.SubeDetaylari</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <b>@Html.DisplayNameFor(model => model.SubeIsmi): </b>
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.SubeIsmi)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <b>@Html.DisplayNameFor(model => model.Semt.Sehir.SehirAd): </b>
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.Semt.Sehir.SehirAd)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <b>@Html.DisplayNameFor(model => model.Semt.SemtAd): </b>
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.Semt.SemtAd)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <b>@Html.DisplayNameFor(model => model.Telefon): </b>
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.Telefon)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <b>@Html.DisplayNameFor(model => model.CalismaBaslangicSaati): </b>
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.CalismaBaslangicSaati)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <b>@Html.DisplayNameFor(model => model.CalismaBitisSaati): </b>
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.CalismaBitisSaati)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <b>@Html.DisplayNameFor(model => model.ServisSuresi): </b>
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.ServisSuresi)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <b>@Html.DisplayNameFor(model => model.AcikAdres): </b>
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.AcikAdres)
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                @Html.ActionLink(@Resources.Kullanici.Home.GeriDon, "Index", new { }, new { @class = "btn btn-primary" })
            </div>

            <!-- /.box-footer -->

        </div>
    </div>
</div>
