﻿@model IEnumerable<YemekSepette.Models.Sube>
@{
    ViewBag.Title = @Resources.Kullanici.Home.Subeler;
    Layout = "~/Areas/RestoranPanel/Views/Shared/_RestoranPanelLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">@Resources.Kullanici.Home.Subeler</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <a href="~/RestoranPanel/RestoranSube/Create" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i> <b>@Resources.Kullanici.Home.SubeEkle</b>
                </a>
                <table class="table table-bordered" style="margin-top:10px">
                    <tbody>
                        <tr>
                            <th>
                                @Resources.Kullanici.Home.Sehir
                            </th>
                            <th>
                                @Resources.Kullanici.Home.Bolge
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SubeIsmi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefon)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CalismaBaslangicSaati)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CalismaBitisSaati)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ServisSuresi)
                            </th>
                            <th>@Resources.Kullanici.Home.İslemler</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Semt.Sehir.SehirAd)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Semt.SemtAd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubeIsmi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefon)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CalismaBaslangicSaati)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CalismaBitisSaati)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServisSuresi)
                                </td>
                                <td>
                                    @Html.ActionLink(@Resources.Kullanici.Home.Detaylar, "Details", "RestoranSube", new { id = item.SubeID }, new { @style = "font-weight:bold;", @class = "btn btn-warning glyphicon glyphicon-info" })
                                    @Html.ActionLink(@Resources.Kullanici.Home.Sil, "Delete", "RestoranSube", new { id = item.SubeID }, new { @style = "font-weight:bold;", @class = "btn btn-danger glyphicon glyphicon-trash" })
                                </td>
                            </tr>}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>