﻿@model IEnumerable<YemekSepette.Models.Gorus>

@{
    Layout = null;
}
<div class="panel panel-warning">
    <div class="panel-heading"><b>@Resources.Kullanici.Home.Gorusleriniz</b></div>
    <!-- List group -->
    <ul class="list-group">
        @{
            var i = 0;
        }
        @foreach (var item in Model)
        {
            i++;
            if (i > 5)
            {
                break;
            }
            <li class="list-group-item">
                <span class="col-sm-12" style="padding:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">@item.GorusIcerik</span>
                <div><small>@Html.DisplayFor(modelItem => item.GorusTarih)</small></div>
            </li>
        }
    </ul>
    <div class="panel-footer">
        <span><a href="@Url.Action("Index", "Gorusleriniz", new { language = HttpContext.Current.Response.Cookies["dil"].Value })">@Resources.Kullanici.Home.TumGorusleriGor</a> <b>(@Model.Count() @Resources.Kullanici.Home.Gorus)</b></span>
    </div>
</div>