﻿@model YemekSepette.Models.Gorus

@{
    Layout = null;
}

<div class="row col-sm-12" style="margin-top:0">
    <h3>@Resources.Kullanici.Home.GorusunuBildir</h3>
    <p>@Resources.Kullanici.Home.GorusunuHerkeslePaylas<p>
</div>

<div class="row col-sm-12">
    @if (Request.IsAuthenticated)
    {
    <!-- yorum gonder -->

        using (Html.BeginForm("_GorusBildir", "Gorusleriniz", FormMethod.Post))
        {
            Html.AntiForgeryToken();
            <form class="form-horizontal">
                <fieldset>

                    <legend></legend>

                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">@Resources.Kullanici.Home.Gorus :</label>
                        <div class="col-lg-10">
                            @Html.TextAreaFor(model => model.GorusIcerik, new { @class = "form-control", @row = "3" })
                            <span class="help-block">@Resources.Kullanici.Home.HakaretUyariGorus</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">@Resources.Kullanici.Home.Gonder</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        }

    }
    else
    {
    <!-- giris yapilmamissa -->
        <div class="row">
            <div class="col-sm-12">
                <div class="bs-component">
                    <div class="alert alert-dismissible alert-warning">
                        <h4>@Resources.Kullanici.Home.Uyari</h4>
                        <p>@Resources.Kullanici.Home.GorusIcinGiris</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

