﻿@model PagedList.IPagedList<YemekSepette.Models.Gorus>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = @Resources.Kullanici.Home.Gorusleriniz;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header" style="margin-top:0">
    <h3>@Resources.Kullanici.Home.HakkimizdaGorusleriniz</h3>
    <p>@Resources.Kullanici.Home.YapılanGoruslereGozatin</p>
</div>

<div class="panel panel-warning">
    <div class="panel-heading"><b>@Resources.Kullanici.Home.Gorusleriniz</b></div>
    <!-- List group -->
    <ul class="list-group">
        @{
            var i = 0;
        }
        @foreach (var item in Model)
        {
            i++;
            if (i > 5)
            {
                break;
            }
            <li class="list-group-item">
                <span class="col-sm-12" style="padding:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">@item.GorusIcerik</span>
                <div><small>@Html.DisplayFor(modelItem => item.GorusTarih)</small></div>
            </li>
        }
    </ul>
    <div class="panel-footer" style="background-color:#fbfbfb">
        <span>@Resources.Kullanici.Home.Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span> - <span>@Resources.Kullanici.Home.Toplam <b>@ViewBag.GorusSayisi</b> @Resources.Kullanici.Home.GorusKucuk</span>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>

@{ Html.RenderAction("_GorusBildir", "Gorusleriniz");}
