﻿@model YemekSepette.Areas.RestoranPanel.Models.LogoModel
@{
    ViewBag.Title = @Resources.Kullanici.Home.LogoDegis;
    Layout = "~/Areas/RestoranPanel/Views/Shared/_RestoranPanelLayout.cshtml";
}

<div class="row">
    <div class="col-sm-6">
        <div class="box box-success box-solid">
            <div class="box-header">
                <h3 class="box-title">@Resources.Kullanici.Home.LogoDegis</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("ChangeLogo", "RestoranHesap", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.RestoranLogo, new { @class = "col-sm-3 control-label", })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.RestoranLogo, new { @class = "form-control", placeholder = "Restoran Logo", type = "file" })
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Html.ActionLink(@Resources.Kullanici.Home.GeriDon, "Index", new { }, new { @class = "btn btn-primary" })
                    <input type="submit" value=@Resources.Kullanici.Home.Kaydet class="btn btn-success pull-right" />
                </div>
            }
            <!-- /.box-footer -->

        </div>
    </div>
</div>
