﻿@model YemekSepette.Areas.RestoranPanel.Models.RestoranDuzenle

@{
    ViewBag.Title = @Resources.Kullanici.Home.BilgileriDuzenle;
    Layout = "~/Areas/RestoranPanel/Views/Shared/_RestoranPanelLayout.cshtml";
}
<h3>E-Mail hesabınızı değiştirdiğinizde yeniden giriş yapmanız gerekmektedir.</h3>
<div class="row">
    <div class="col-sm-6">
        <div class="box box-primary box-solid">
            <div class="box-header">
                <h3 class="box-title">@Resources.Kullanici.Home.BilgileriDuzenle</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.eMail, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.eMail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.eMail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.restoranAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.restoranAdi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.restoranAdi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>


                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <input type="submit" value=@Resources.Kullanici.Home.Kaydet class="btn btn-success pull-right" />
                </div>
            }
            <!-- /.box-footer -->

        </div>
    </div>
</div>