﻿@model YemekSepette.Models.Restoran
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = @Resources.Kullanici.Home.HesapBilgileri;
    Layout = "~/Areas/RestoranPanel/Views/Shared/_RestoranPanelLayout.cshtml";
}
<h2>@ViewBag.StatusMessage</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="box box-info box-solid">
            <div class="box-header">
                <h3 class="box-title">@Resources.Kullanici.Home.HesapBilgileri</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>E-Mail : </b>
                        </div>
                        <div class="col-sm-10">
                            @User.Identity.GetUserName()
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>@Html.DisplayNameFor(model => model.RestoranIsmi): </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.RestoranIsmi)
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                @Html.ActionLink(@Resources.Kullanici.Home.BilgileriDuzenle, "Edit", new { }, new { @class = "btn btn-primary" })
                @Html.ActionLink(@Resources.Kullanici.Home.LogoDegis, "ChangeLogo", new { }, new { @class = "btn btn-warning pull-middle" })
                @Html.ActionLink(@Resources.Kullanici.Home.ParolayiDegistir, "ChangePassword", new { }, new { @class = "btn btn-danger pull-right" })
            </div>

            <!-- /.box-footer -->

        </div>
    </div>
</div>
