﻿@model YemekSepette.Models.OnerilenRestoran

@{
    ViewBag.Title = Resources.Kullanici.Home.OnerilenRestoranSil;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-6">
        <div class="box box-danger box-solid">
            <div class="box-header">
                <h3 class="box-title">@Resources.Kullanici.Home.OnerilenRestoranSil</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <h4>@Resources.Kullanici.Home.SilmeOnay<!--Are you sure you want to delete this?--></h4>
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-sm-3">
                            <b>@Html.DisplayNameFor(model => model.Restoran.RestoranIsmi): </b>
                        </div>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.Restoran.RestoranIsmi)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <b>@Resources.Kullanici.Home.Sira: </b>
                        </div>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.Sira)
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="box-footer">
                    @Html.ActionLink(Resources.Kullanici.Home.ListeyeGeriDon, "Index", new { }, new { @class = "btn btn-primary" })
                    <input type="submit" value="@Resources.Kullanici.Home.Sil" class="btn btn-danger pull-right" />
                </div>
            }
            <!-- /.box-footer -->

        </div>
    </div>
</div>

