﻿@model YemekSepette.Models.OnerilenRestoran

@{
    ViewBag.Title = Resources.Kullanici.Home.OnerilenRestoranDuzenle;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-6">
        <div class="box box-primary box-solid">
            <div class="box-header">
                <h3 class="box-title">@Resources.Kullanici.Home.OnerilenRestoranDuzenle</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.OnerilenRestoranID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.RestoranID, Resources.Kullanici.Home.Restoran, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("RestoranID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RestoranID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Sira, Resources.Kullanici.Home.Sira, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Sira, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Sira, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Html.ActionLink(Resources.Kullanici.Home.ListeyeGeriDon, "Index", new { }, new { @class = "btn btn-primary" })
                    <input type="submit" value="@Resources.Kullanici.Home.Kaydet" class="btn btn-success pull-right" />
                </div>
            }
            <!-- /.box-footer -->

        </div>
    </div>
</div>
