﻿@model YemekSepette.Models.OnerilenRestoran

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OnerilenRestoran</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Restoran.RestoranIsmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restoran.RestoranIsmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sira)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sira)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OnerilenRestoranID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
