﻿@model IEnumerable<YemekSepette.Models.OnerilenRestoran>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Restoran.RestoranIsmi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sira)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Restoran.RestoranIsmi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sira)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OnerilenRestoranID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OnerilenRestoranID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OnerilenRestoranID })
        </td>
    </tr>
}

</table>
