﻿@model IEnumerable<YemekSepette.Models.SubeYorum>
@{
    ViewBag.Title = @Resources.Kullanici.Home.Yorumlar;
    Layout = "~/Areas/RestoranPanel/Views/Shared/_RestoranPanelLayout.cshtml";

}

<div class="row">
    <div class="col-sm-12">
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">@Resources.Kullanici.Home.Yorumlar</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered" style="margin-top:10px">
                    <tbody>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Sube.SubeIsmi)</th>
                            <th>@Html.DisplayNameFor(model => model.Musteri.AdSoyad)</th>
                            <th>@Html.DisplayNameFor(model => model.Musteri.Telefon)</th>
                            <th>@Html.DisplayNameFor(model => model.Tarih)</th>
                            <th>@Html.DisplayNameFor(model => model.YorumIcerik)</th>
                        </tr>

                        @foreach (var item in Model)
                        {


                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Sube.SubeIsmi)</td>
                                <td>@Html.DisplayFor(modelItem => item.Musteri.AdSoyad)</td>
                                <td>@Html.DisplayFor(modelItem => item.Musteri.Telefon)</td>
                                <td>@Html.DisplayFor(modelItem => item.Tarih)</td>
                                <td>@Html.DisplayFor(modelItem => item.YorumIcerik)</td>

                            </tr>


                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>