﻿.border-none{
    border : 0;
}

.margin-none{
    margin : 0;
}

footer{
    padding-bottom : 50px;
}

.column-area{
    margin-top : 10px;
}

.column-area > div{
    margin-top : 30px;
}

.column-area .thumbnail{
    border-color : #ccc;
    border-radius : 0;
    border-width : 0 1px 0 0;
}

.thumbnail .caption > h4,
.thumbnail .caption > h5{
    text-align : center;
}

.column-restauran-img{
    margin-top:4px !important;
    height:100px !important;
}

a.thumbnail:hover
{
	border-color:orange;
    cursor:pointer;
    text-decoration:none;
}

.margin-auto{
  margin : 0 auto;
}

.navbar-default{
    background-color : #cc4111 !important;
}