﻿@using Microsoft.AspNet.Identity;

@{
    Layout = null;
}
@using (Html.BeginForm("LogOff", "Account", new { language = HttpContext.Current.Response.Cookies["dil"].Value }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    <fieldset>
        <div class="form-group">
            <div class="col-sm-12">

                <h4>@ViewBag.KullaniciAd</h4>
                <small>@User.Identity.Name</small>

                <hr style="margin-bottom:10px;margin-top:10px;">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="@Url.Action("Index", "Sepetim", new { language = HttpContext.Current.Response.Cookies["dil"].Value })"><span class="glyphicon glyphicon-shopping-cart"></span> @Resources.Kullanici.Home.Sepetim <span id="siparisbadge" class="badge">@ViewBag.SepettekiSiparisSayisi</span></a></li>
                    <li><a href="@Url.Action("Index", "BekleyenSiparisler", new { language = HttpContext.Current.Response.Cookies["dil"].Value })"><span class="glyphicon glyphicon-time"></span> @Resources.Kullanici.Home.BekleyenSiparisler <span id="bekleyenbadge" class="badge">@ViewBag.BekleyenSiparisSayisi</span></a></li>
                    <li><a href="@Url.Action("Index", "Manage", new { language = HttpContext.Current.Response.Cookies["dil"].Value })"><span class="glyphicon glyphicon-cog"></span> @Resources.Kullanici.Home.HesabiYonet</a></li>
                    <li role="separator" class="divider"></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-default btn-block">@Resources.Kullanici.Home.CikisYap</button>
            </div>
        </div>
    </fieldset>
}

