﻿@model IEnumerable<YemekSepette.Models.OnerilenRestoran>
@{
    Layout = null;
}

<!-- restoranlar reklam baslangic -->
<div class="row">

    <!-- aciklama -->
    <div class="page-header col-sm-12" style="margin-top:0">
        <h3>@Resources.Kullanici.Home.Restoranlar</h3>
        <p>@Resources.Kullanici.Home.OnerilenRestoranlarAciklama</p>
    </div>

    <!-- restoranlar -->
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <a class="thumbnail">
                <img class="column-restauran-img" src="@item.Restoran.RestoranLogo" alt="...">
                <div class="caption">
                    <h5 style="padding:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap"><b>@item.Restoran.RestoranIsmi</b></h5>
                </div>
            </a>
        </div>
    }

</div><!--/row-->
