﻿@model YemekSepette.Models.LoginViewModel
@{
    Layout = null;
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl, language = HttpContext.Current.Response.Cookies["dil"].Value }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
    @Html.AntiForgeryToken()
    <fieldset>
        <legend style="margin-bottom:8px">@Resources.Kullanici.Home.OturumAc</legend>
        <div class="form-group">
            <div class="col-sm-12">
                <div>
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.DisplayNameFor(m => m.RememberMe)

                    </label>
                    <!--<span class="pull-right"><a href="">Parolamı Unuttum</a></span>-->
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success btn-block">@Resources.Kullanici.Home.OturumAc</button>
            </div>
        </div>
    </fieldset>
}

