﻿@{
    ViewBag.Title = Resources.Kullanici.Home.Anasayfa;
}

<!-- resimler baslangic -->
<!--
<div class="row">
    
    <div class="col-sm-12">
        @for (int i = 1; i <= 12; i++)
        {
            <div class="col-sm-1">
                <div class="thumbnail border-none">
                    <img style="min-height:32px;min-width:32px" src="~/Content/img/foods/food@(i).png" alt="food">
                </div>
            </div>
        }
    </div>
       
</div>
<hr class="margin-none">
         -->
<!-- resimler bitis -->
<!-- tanitim baslangic -->
<div class="row">
    <div class="col-sm-12 column-area">
        <h3 style="margin-top:0">@Resources.Kullanici.Home.HizliVeKolaycaSiparisiniVer</h3>
        <p>
            @Html.Raw(Resources.Kullanici.Home.AnasayfaYazi)
        </p>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img style="" src="~/Content/img/restoranara.png" alt="...">
                <div class="caption">
                    <h4><b>@Resources.Kullanici.Home.Ara</b></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img style="" src="~/Content/img/siparisver.png" alt="...">
                <div class="caption">
                    <h4><b>@Resources.Kullanici.Home.SiparisVer</b></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail border-none">
                <img style="" src="~/Content/img/kapidaode.png" alt="...">
                <div class="caption">
                    <h4><b>@Resources.Kullanici.Home.KapidaOde</b></h4>
                </div>
            </div>
        </div>
    </div>
</div> <!-- tanitim bitis -->

@{ Html.RenderAction("_OnerilenRestoranlar", "Home");}
@*@@Html.Partial("_RestoranlarReklam")*@