﻿@model YemekSepette.Models.RegisterViewModel

@{
    Layout = null;
}


@using (Html.BeginForm("_Bilgiler", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <dt>@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })</dt>
        <dd style="margin-bottom:10px">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </dd>

        <dt>@Html.LabelFor(m => m.AdSoyad, new { @class = "col-md-2 control-label" })</dt>
        <dd style="margin-bottom:10px">
            @Html.TextBoxFor(m => m.AdSoyad, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.AdSoyad, "", new { @class = "text-danger" })
        </dd>

        <dt>@Html.LabelFor(m => m.Telefon, new { @class = "col-md-2 control-label" })</dt>
        <dd style="margin-bottom:10px">
            @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Telefon, "", new { @class = "text-danger" })
        </dd>

        <dt>
            @Html.LabelFor(m => m.KayitSehirID, new { @class = "col-md-2 control-label" })
        </dt>
        <dd style="margin-bottom:10px">
            @Html.DropDownListFor(x => x.KayitSehirID,
                     new SelectList(ViewBag.SehirListesi, "SehirID", "SehirAd", Model.KayitSehirID),
                     Resources.Kullanici.Home.SehirSecin,
                     new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.KayitSehirID, "", new { @class = "text-danger" })
        </dd>

        <dt>@Html.LabelFor(m => m.TamAdres, new { @class = "col-md-2 control-label" })</dt>
        <dd style="margin-bottom:10px">
            @Html.TextAreaFor(m => m.TamAdres, new { @class = "form-control", @row = "3" })
            @Html.ValidationMessageFor(m => m.TamAdres, "", new { @class = "text-danger" })
        </dd>

        <dt>
        </dt>
        <dd>
            <p class="text-muted">@Resources.Kullanici.Home.TekrarGirisGerek</p>
        </dd>

        <dt>
        </dt>
        <dd>
            <input type="submit" class="btn btn-success" value="@Resources.Kullanici.Home.DegisiklikleriKaydet" />
        </dd>
}
