﻿@model YemekSepette.Models.RestoranArama

@{
    Layout = null;
}

@using (Html.BeginForm("AramaSonuc", "Arama", new { language = HttpContext.Current.Response.Cookies["dil"].Value }, FormMethod.Get, new { }))
{
    <div class="row">
        <div class="col-sm-9">
            <div class="col-sm-12">
                <h3>@Resources.Kullanici.Home.AramaYazi</h3>
            </div>
        </div>
        <div class="col-sm-3" style="margin-top:15px">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-sm-12">

                @{
                    var lang = HttpContext.Current.Response.Cookies["dil"] != null ? HttpContext.Current.Response.Cookies["dil"].Value : "tr";
                    var onchange = "SemtleriDoldur('" + lang + "')";
                }
                @if (ViewBag.SehirIDCookie != null)
                {
                    @Html.DropDownListFor(x => x.SehirID,
                     new SelectList(ViewBag.SehirListesi, "SehirID", "SehirAd", ViewBag.SehirIDCookie),
                     Resources.Kullanici.Home.SehirSecin,
                     new { @class = "form-control", @onchange = onchange })
                }
                else
                {

                    @Html.DropDownListFor(x => x.SehirID,
                     new SelectList(ViewBag.SehirListesi, "SehirID", "SehirAd"),
                     Resources.Kullanici.Home.SehirSecin,
                     new { @class = "form-control", @onchange = onchange })
                }

                @Html.ValidationMessageFor(x => x.SehirID, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label for="textArea" class="col-sm-12 control-label">@Resources.Kullanici.Home.Bolge:</label>
            <div class="col-sm-12">
                @if (ViewBag.SehirIDCookie != null)
                {
                    @Html.DropDownListFor(x => x.SemtID,
                     new SelectList(ViewBag.SemtListesi, "SemtID", "SemtAd"),
                     Resources.Kullanici.Home.BolgeSecin,
                     new { @class = "form-control" })
                }
                else
                {
                    @Html.DropDownListFor(x => x.SemtID,
                     new SelectList(Enumerable.Empty<SelectListItem>(), "SemtID", "SemtAd"),
                     Resources.Kullanici.Home.BolgeSecin,
                     new { @class = "form-control" })
                }

            </div>
        </div>
        <div class="col-sm-9">
            <label for="textArea" class="col-sm-12 control-label">@Resources.Kullanici.Home.Restoran:</label>
            <div class="col-sm-12">
                <div class="input-group">
                    @Html.EditorFor(x => x.Icerik, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.Kullanici.Home.RestoranArayin } })
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-danger">@Resources.Kullanici.Home.Ara</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.SemtID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-9">
            <div class="col-sm-12">
                @Html.ValidationMessageFor(x => x.Icerik, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
                    }