﻿@model IEnumerable<YemekSepette.Models.Sube>

@{
    ViewBag.Title = Resources.Kullanici.Home.AramaSonuc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div style="margin-top:10px">
            <strong>@Model.Count() @Resources.Kullanici.Home.Sonuc</strong> @Resources.Kullanici.Home.Listelendi
        </div>
    </div>
</div>

<hr style="border-top:1px solid #bbb">

<div class="row tab-content" style="margin-top:20px">
    <div id="urunler" class="col-sm-12">
        @if (Model.Count() == 0)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>"@ViewBag.AramaIcerik"</strong> @Resources.Kullanici.Home.SonucYok
            </div>

        }
        else
        {
            <div class="panel panel-default" style="border-width : 0 0 1px 0;border-radius:0;box-shadow:0 0">
                <table class="table">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="padding:20px">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="@Url.Action("RestoranSube", "Siparis", new { language = HttpContext.Current.Response.Cookies["dil"].Value, id = @item.SubeID })">
                                                <img class="media-object" alt="64x64" src="@item.Restoran.RestoranLogo" style="width: 54px; height: 54px;">
                                            </a>
                                        </div>
                                        @{

                                            var restoranAcikMi = true;
                                            DateTime simdi = DateTime.Now;
                                            string baslangic = String.Format("{0:HH:mm}", item.CalismaBaslangicSaati);
                                            string bitis = String.Format("{0:HH:mm}", item.CalismaBitisSaati);
                                            DateTime baslangicSaati = DateTime.Parse(baslangic);
                                            DateTime bitisSaati = DateTime.Parse(bitis);

                                            if (DateTime.Compare(simdi, baslangicSaati) < 0 || DateTime.Compare(simdi, bitisSaati) > 0)
                                            {
                                                restoranAcikMi = false;
                                            }

                                        }
                                        <div class="media-body">
                                            <b>
                                                <a href="@Url.Action("RestoranSube", "Siparis", new { language = HttpContext.Current.Response.Cookies["dil"].Value, id = @item.SubeID })">@item.SubeIsmi</a>
                                                @if (restoranAcikMi)
                                                {
                                                    <span class="label label-success">@Resources.Kullanici.Home.RestoranAcik</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-danger">@Resources.Kullanici.Home.RestoranKapali</span>
                                                }

                                            </b>
                                            <p style="margin:0;color:#666"><small>@item.AcikAdres</small></p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                                            }
                    </tbody>
                </table>
            </div>
                                            }
    </div>
</div>
