﻿@model YemekSepette.Models.Urun

@{
    ViewBag.Title = @Resources.Kullanici.Home.UrunSil;
    Layout = "~/Areas/SubePanel/Views/Shared/_SubePanelLayout.cshtml";
}
<div class="row">
    <div class="col-sm-6">
        <div class="box box-danger box-solid">
            <div class="box-header">
                <h3 class="box-title">@Resources.Kullanici.Home.UrunSil</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <h4>@Resources.Kullanici.Home.SilmeyeEminMisin</h4>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>@Html.DisplayNameFor(model => model.Menu.MenuIsmi): </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Menu.MenuIsmi)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>@Html.DisplayNameFor(model => model.UrunIsmi): </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.UrunIsmi)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>@Html.DisplayNameFor(model => model.UrunIcerik): </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.UrunIcerik)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>@Html.DisplayNameFor(model => model.Fiyat): </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Fiyat)
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    <div class="box-footer">
                        @Html.ActionLink(@Resources.Kullanici.Home.GeriDon, "Index", new { }, new { @class = "btn btn-primary" })
                        <input type="submit" value=@Resources.Kullanici.Home.Sil class="btn btn-danger pull-right" />
                    </div>
                }
                <!-- /.box-footer -->

            </div>
        </div>
    </div>
</div>

