﻿@model IEnumerable<YemekSepette.Models.Urun>

@{
    ViewBag.Title = @Resources.Kullanici.Home.Urunler;
    Layout = "~/Areas/SubePanel/Views/Shared/_SubePanelLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">@Resources.Kullanici.Home.Urunler</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <a href="~/SubePanel/SubeUrun/Create" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i> <b>@Resources.Kullanici.Home.UrunEkle</b>
                </a>
                <table class="table table-bordered" style="margin-top:10px">
                    <tbody>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Menu.MenuIsmi)</th>
                            <th>@Html.DisplayNameFor(model => model.UrunIsmi)</th>
                            <th>@Html.DisplayNameFor(model => model.UrunIcerik)</th>
                            <th>@Html.DisplayNameFor(model => model.Fiyat)</th>
                            <th>@Resources.Kullanici.Home.İslemler</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Menu.MenuIsmi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UrunIsmi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UrunIcerik)
                                </td>
                                <td>
                                    <span class="badge bg-green btn-block">@Html.DisplayFor(modelItem => item.Fiyat) TL</span>
                                </td>
                                <td>
                                    @Html.ActionLink(@Resources.Kullanici.Home.Duzenle, "Edit", "SubeUrun", new { id = item.UrunID }, new { @style = "font-weight:bold;", @class = "btn btn-warning glyphicon glyphicon-pencil" })
                                    @Html.ActionLink(@Resources.Kullanici.Home.Sil, "Delete", "SubeUrun", new { id = item.UrunID }, new { @style = "font-weight:bold;", @class = "btn btn-danger glyphicon glyphicon-trash" })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
