﻿@model IEnumerable<IGrouping<int, YemekSepette.Models.Siparis>>

@{
    ViewBag.Title = Resources.Kullanici.Home.Sepetim;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.SepetOnayMesaj != null)
{
    <div class="row">
        @if (ViewBag.SepetOnayMesaj == true)
        {
            <div class="col-sm-12">
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    <strong>@Resources.Kullanici.Home.Basarili</strong>
                    @Resources.Kullanici.Home.SepetOnayBasarili
                </div>
            </div>
        }
        else
        {
            <div class="col-sm-12">
                <div class="alert alert-alert" role="alert">
                    <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                    <strong>@Resources.Kullanici.Home.Basarisiz</strong>
                    Sepetiniz onaylanamadı.
                </div>
            </div>
        }

    </div>
}
@if (Model.Count() != 0)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                <strong>@Resources.Kullanici.Home.SepetOnaylanmamis</strong>
                @Resources.Kullanici.Home.SepetOnayAciklama
            </div>
        </div>
        <!-- tutar -->
        <div class="col-sm-12">
            <div class="col-sm-9">
                <h4 style="margin-top:10px"><b>@Resources.Kullanici.Home.ToplamTutar : <span class="label label-warning">@ViewBag.ToplamTutar TL</span></b></h4>
            </div>
            <div class="col-sm-3">
                <a href="@Url.Action("SepetiOnayla", "Sepetim", new { language = HttpContext.Current.Response.Cookies["dil"].Value })" class="btn btn-success btn-block">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> @Resources.Kullanici.Home.SepetiOnayla
                </a>
            </div>
        </div>
    </div>

    <hr style="margin-top:10px" />
}
<div class="row" style="margin-top:20px">

    <div class="col-sm-12">
        <div class="panel panel-primary" style="font-size:16px">
            <div class="panel-heading"><b>@Resources.Kullanici.Home.Sepetim</b></div>

            <table class="table" style="background-color:#fcfcfc">
                <tbody>
                    @if (Model.Count() != 0)
                    {
                        foreach (var group in Model)
                        {
                        <!-- sube bilgisi -->
                            var siparisSube = group.ToList().First().Sube;
                            <tr style="background-color:#ffd55a">
                                <td class="col-sm-10">
                                    <div style="margin-top:0">

                                        <h5 style="margin-top:10px;color:#ff6508">
                                            <b><a href="@Url.Action("RestoranSube", "Siparis", new { language = HttpContext.Current.Response.Cookies["dil"].Value, id = siparisSube.SubeID })">@siparisSube.SubeIsmi</a> <small style="color:black">@siparisSube.Semt.SemtAd</small> </b>
                                        </h5>

                                    </div>
                                </td>
                                <td class="col-sm-2"></td>
                            </tr>
                        <!-- sepettekiler -->
                            foreach (var siparis in group.ToList())
                            {
                            <!-- sepettekiler -->
                                <tr>
                                    <td class="col-sm-10">
                                        <small style="color:orange"><b>@siparis.Urun.UrunIsmi</b></small> <span class="label label-success">@siparis.Adet @Resources.Kullanici.Home.Adet</span>
                                        <p style="margin:0"><small>@siparis.Urun.UrunIcerik</small></p>
                                    </td>
                                    <td class="col-sm-2 ">
                                        <small class="col-sm-9 col-sm-offset-3" style="color:orange"><b>@(siparis.Urun.Fiyat * siparis.Adet) TL</b></small>
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <a href="@Url.Action("SepettenCikar", "Sepetim", new { language = HttpContext.Current.Response.Cookies["dil"].Value, id = siparis.SiparisID })">@Resources.Kullanici.Home.Cikar</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <div class="col-sm-12" style="padding:20px">@Resources.Kullanici.Home.SepetinizBos</div>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

