﻿﻿@model IEnumerable<IGrouping<int, YemekSepette.Models.Siparis>>
@{

    ViewBag.Title = @Resources.Kullanici.Home.BekleyenSiparisler;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:20px">

    <div class="col-sm-12">
        <div class="panel panel-primary" style="font-size:16px">
            <div class="panel-heading"><b>@Resources.Kullanici.Home.BekleyenSiparisler</b></div>

            <table class="table" style="background-color:#fcfcfc">
                <tbody>
                    @if (Model.Count() != 0)
                    {
                        foreach (var group in Model)
                        {
                        <!-- sube bilgisi -->
                            var siparisSube = group.ToList().First().Sube;
                            <tr style="background-color:#ffd55a">
                                <td class="col-sm-10">
                                    <div style="margin-top:0">

                                        <h5 style="margin-top:10px;color:#ff6508">
                                            <b><a href="@Url.Action("RestoranSube", "Siparis", new { language = HttpContext.Current.Response.Cookies["dil"].Value, id = siparisSube.SubeID })">@siparisSube.SubeIsmi</a> <small style="color:black">@siparisSube.Semt.SemtAd</small> </b>
                                        </h5>

                                    </div>
                                </td>
                                <td class="col-sm-2"></td>
                            </tr>
                        <!-- sepettekiler -->
                            foreach (var siparis in group.ToList())
                            {
                            <!-- sepettekiler -->
                                <tr>
                                    <td class="col-sm-10">
                                        <small style="color:orange"><b>@siparis.Urun.UrunIsmi</b></small> <span class="label label-success">@siparis.Adet @Resources.Kullanici.Home.Adet</span>
                                        <p style="margin:0"><small>@siparis.Urun.UrunIcerik</small></p>
                                    </td>
                                    <td class="col-sm-2 ">
                                        <small class="col-sm-9 col-sm-offset-3" style="color:orange"><b>@(siparis.Urun.Fiyat * siparis.Adet) TL</b></small>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <div class="col-sm-12" style="padding:20px">@Resources.Kullanici.Home.BekleyenSiparisYok</div>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



