﻿@{
    ViewBag.Title = Resources.Kullanici.Home.HesabiSil;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-6">
        <div class="box box-danger box-solid">
            <div class="box-header">
                <h3 class="box-title">@Resources.Kullanici.Home.HesabiSil</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <h4>@Resources.Kullanici.Home.HesapSilOnay<!--Are you sure you want to delete this?--></h4>
            </div>
            <!-- /.box-body -->
            @using (Html.BeginForm("HesapSilmeyiTamamla", "Kullanicilar", new { id = ViewBag.HesapId }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="box-footer">
                    @Html.ActionLink(Resources.Kullanici.Home.ListeyeGeriDon, "Index", new { }, new { @class = "btn btn-primary" })
                    <input type="submit" value="@Resources.Kullanici.Home.Sil" class="btn btn-danger pull-right" />
                </div>
            }
            <!-- /.box-footer -->

        </div>
    </div>
</div>




