﻿@model PagedList.IPagedList<YemekSepette.Areas.Admin.Models.Hesap>
@using PagedList.Mvc;

@{
    ViewBag.Title = @Resources.Kullanici.Home.Kullanicilar;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-warning box-solid">
            <div class="box-header">
                <h3 class="box-title">@Resources.Kullanici.Home.KullaniciListesi</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2">
                            @using (Html.BeginForm("Index", "Kullanicilar", FormMethod.Get))
                            {
                                <div class="input-group">
                                    @Html.TextBox("Arama", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                                    <div class="input-group-btn">
                                        <input type="submit" value="@Resources.Kullanici.Home.Ara" class="btn btn-danger" />
                                    </div>
                                    <!-- /btn-group -->

                                </div>
                            }
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th>
                                            Mail
                                        </th>
                                        <th>
                                            @Html.ActionLink(Resources.Kullanici.Home.Rol, "Index", new { siralama = ViewBag.SortParam })
                                        </th>
                                        <th>
                                            @Resources.Kullanici.Home.İslemler
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        if (item.Rol != "Admin")
                                        {
                                            <tr>
                                                <td>
                                                    @item.Mail
                                                </td>
                                                <td>
                                                    @item.Rol
                                                </td>
                                                <td>
                                                    @Html.ActionLink(" ", "ParolaDegistir", new { id = item.Id }, new { @class = "btn btn-sm btn-warning glyphicon glyphicon-lock" }) |
                                                    @Html.ActionLink(" ", "HesapSil", new { id = item.Id }, new { @class = "btn btn-sm btn-danger glyphicon glyphicon-remove" })
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <span><b>@Resources.Kullanici.Home.Toplam @ViewBag.SonucSayisi @Resources.Kullanici.Home.Sonuc - </b>@Resources.Kullanici.Home.Sayfa @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, siralama = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div>
