﻿@model YemekSepette.Models.Menu

@{
    ViewBag.Title = @Resources.Kullanici.Home.MenuEkle;
    Layout = "~/Areas/SubePanel/Views/Shared/_SubePanelLayout.cshtml";
}
<div class="row">
    <div class="col-sm-6">
        <div class="box box-success box-solid">
            <div class="box-header">
                <h3 class="box-title">@Resources.Kullanici.Home.MenuEkle</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="box-body">

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.MenuIsmi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MenuIsmi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MenuIsmi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Html.ActionLink(@Resources.Kullanici.Home.GeriDon, "Index", new { }, new { @class = "btn btn-primary" })
                    <input type="submit" value=@Resources.Kullanici.Home.Kaydet class="btn btn-success pull-right" />
                </div>
            }
            <!-- /.box-footer -->

        </div>
    </div>
</div>


