﻿@model YemekSepette.Models.Menu

@{
    ViewBag.Title = @Resources.Kullanici.Home.MenuSil;
    Layout = "~/Areas/SubePanel/Views/Shared/_SubePanelLayout.cshtml";
}

<div class="row">
    <div class="col-sm-6">
        <div class="box box-danger box-solid">
            <div class="box-header">
                <h3 class="box-title">@Resources.Kullanici.Home.MenuSil</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <h4>@Resources.Kullanici.Home.SilmeyeEminMisin</h4><br />
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b>@Html.DisplayNameFor(model => model.MenuIsmi) : </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.MenuIsmi)
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="box-footer">
                    @Html.ActionLink(@Resources.Kullanici.Home.GeriDon, "Index", new { }, new { @class = "btn btn-primary" })
                    <input type="submit" value=@Resources.Kullanici.Home.Sil class="btn btn-danger pull-right" />
                </div>
            }
            <!-- /.box-footer -->

        </div>
    </div>
</div>





