﻿@model IEnumerable<YemekSepette.Models.Menu>

@{
    ViewBag.Title = @Resources.Kullanici.Home.Menuler;
    Layout = "~/Areas/SubePanel/Views/Shared/_SubePanelLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">@Resources.Kullanici.Home.Menuler</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <a href="~/SubePanel/SubeMenu/Create" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i> <b>@Resources.Kullanici.Home.MenuEkle</b>
                </a>
                <table class="table table-bordered" style="margin-top:10px">
                    <tbody>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.MenuIsmi)</th>
                            <th>@Resources.Kullanici.Home.İslemler</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MenuIsmi)
                                </td>
                                <td>
                                    @Html.ActionLink(@Resources.Kullanici.Home.Duzenle, "Edit", "SubeMenu", new { id = item.MenuID }, new { @style = "font-weight:bold;", @class = "btn btn-warning glyphicon glyphicon-pencil" })
                                    @Html.ActionLink(@Resources.Kullanici.Home.Sil, "Delete", "SubeMenu", new { id = item.MenuID }, new { @style = "font-weight:bold;", @class = "btn btn-danger glyphicon glyphicon-trash" })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>