﻿@model IEnumerable<IGrouping<int, YemekSepette.Models.Siparis>>
@{
    ViewBag.Title = @Resources.Kullanici.Home.BekleyenSiparisler;
    Layout = "~/Areas/SubePanel/Views/Shared/_SubePanelLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">@Resources.Kullanici.Home.BekleyenSiparisler</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered" style="margin-top:10px">
                    <tbody>
                        <tr>
                            <th>@Resources.Kullanici.Home.MusteriAdi</th>
                            <th>@Resources.Kullanici.Home.Telefon</th>
                            <th>@Resources.Kullanici.Home.Sehir</th>
                            <th>@Resources.Kullanici.Home.Adres</th>
                            <th>@Resources.Kullanici.Home.İslemler</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            var Siparis = item.ToList().First();
                            <tr>
                                <td>
                                    @Siparis.Musteri.AdSoyad
                                </td>
                                <td>
                                    @Siparis.Musteri.Telefon
                                </td>
                                <td>
                                    @Siparis.Musteri.Sehir.SehirAd
                                </td>
                                <td>
                                    @Siparis.Musteri.TamAdres
                                </td>
                                <td>
                                    <a href="~/SubePanel/SubeSiparis/Siparis/@Siparis.MusteriID" class="btn btn-info">
                                        <i class="glyphicon glyphicon-search"></i> <b>@Resources.Kullanici.Home.SiparisDetay</b>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>