﻿@model IEnumerable<YemekSepette.Models.Siparis>
@{
    ViewBag.Title = @Resources.Kullanici.Home.Siparis;
    Layout = "~/Areas/SubePanel/Views/Shared/_SubePanelLayout.cshtml";

    var MusteriAdi = ViewBag.MusteriAdi;
    ViewBag.MusteriAdi = null;
    var MusteriAdres = ViewBag.MusteriAdres;
    ViewBag.MusteriAdres = null;
    var Tutar = ViewBag.Tutar;
    ViewBag.Tutar = null;
}

<h2>@MusteriAdi @Resources.Kullanici.Home.MusterisininSiparisleri</h2>
<h3>@Resources.Kullanici.Home.Adres ; @MusteriAdres</h3>
<h3>@Resources.Kullanici.Home.ToplamTutar; @Tutar TL</h3>
<div class="row">
    <div class="col-sm-6">
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">@Resources.Kullanici.Home.Siparis</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered" style="margin-top:10px">
                    <tbody>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => modelItem.Urun.UrunIsmi)</th>
                            <th>@Html.DisplayNameFor(modelItem => modelItem.Urun.UrunIcerik)</th>
                            <th>@Html.DisplayNameFor(modelItem => modelItem.Adet)</th>
                            <th>@Html.DisplayNameFor(modelItem => modelItem.Urun.Fiyat)</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@Html.DisplayFor(modelItem => item.Urun.UrunIsmi)</td>
                                <td>@Html.DisplayFor(modelItem => item.Urun.UrunIcerik)</td>
                                <td>@Html.DisplayFor(modelItem => item.Adet)</td>
                                <td>
                                    <span class="badge bg-green btn-block">@item.Adet * @item.Urun.Fiyat = @{var tutar = item.Urun.Fiyat * item.Adet;@tutar} TL</span>
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
            </div>
            <a href="/SubePanel/SubeSiparis/SiparisIlet/@ViewBag.MusteriID" class="btn btn-block btn-primary btn-lg">
                <i class="glyphicon glyphicon-ok"></i> <b>@Resources.Kullanici.Home.Gonderildi</b>
            </a>
            <!-- /.box-body -->
        </div>
    </div>
</div>

